<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>Servlets.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>vista</servlet-name>
        <servlet-class>Servlets.vista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vista</servlet-name>
        <servlet-class>Vista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mirar</servlet-name>
        <servlet-class>Servlets.Mirar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Act</servlet-name>
        <servlet-class>Servlets.Act</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Act2</servlet-name>
        <servlet-class>Act2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actt</servlet-name>
        <servlet-class>Servlets.Actt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>vista</servlet-name>
        <url-pattern>/vista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vista</servlet-name>
        <url-pattern>/Vista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mirar</servlet-name>
        <url-pattern>/Mirar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Act</servlet-name>
        <url-pattern>/Act</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Act2</servlet-name>
        <url-pattern>/Act2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actt</servlet-name>
        <url-pattern>/Actt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
